@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f4f4f6;
}
body::-webkit-scrollbar {
  width: 7.5px;
}
body::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 5px;
}
body::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.tooltip-top {
  clip-path: polygon(50% 0, 0 20%, 100% 20%);
  width: 50px;
  height: 75px;
  position:absolute;
}
